<% layout('welcome') -%>
    <!-- ======= Business Category Section ======= -->
<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->
                    <div class="single-post">
                        <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span>
                            <span>Jul 5th '22</span></div>
                        <h1 class="mb-5"><%= blogs.title %></h1>
                        <p><%= blogs.description %></p>

                        <figure class="my-4">
                            <img src="<%= blogs.image %>" alt="<%= blogs.image %>" class="img-fluid">
                            <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, odit?
                            </figcaption>
                        </figure>
                      

                    <!-- ======= Comments Form ======= -->
                   

                </div>
               
            </div>
        </div>
    </section>
</main><!-- End #main -->